{% extends 'admin/admin.twig' %}

{% block css %}
	{{ parent() }}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block content %}
	<form method="POST" action="/admin">
		<textarea name="content" id="content"></textarea>
		<input type="hidden" name="fulldir" value="{{ fulldir }}">
		<input type="hidden" name="location" value="<?php echo $arr[ 'location' ]; ?>">
		<button type="button" onclick="save()">Save</button>
	</form>
	<button id="toggle-nav-button" type="button" onclick="toggleNav()">^</button>
	<div>
		<a id="referer" href="javascrtip:void(0)">Return</a>
	</div>
	<div id="last-saved"></div>
{% endblock %}

{% block js %}
	{{ parent() }}
	<script>
		const referer = '{{ referer }}';
	</script>
	<script src="/dist/admin.bundle.js"></script>
	<script>
		$(function () {
window.mde.value(window.decode("{{ content }}"))
});
	</script>
{% endblock %}
